.sidenav{
    background-color: rgb(0, 0, 0);
    width: 130px;
  
}

.sidenav a{
    color: white;
    padding-bottom:10%;
    font-size: 1rem;
    display: flex;
}

.sidenav i{
    padding-right:10px;
}