.sidenav{
    background-color: rgb(143, 143, 143);
    width: 150px;
  
}

.sidenav a{
    color: white;
    padding-bottom:10%;
    font-size: 1rem;
    display: flex;
}

.sidenav i{
    padding-right:10px;
}